/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/
@media print {
  body * {
    visibility: hidden;
  }
  .invoice_create_screen, .invoice_create_screen * {
    visibility: visible;
  }
  .invoice_create_screen {
    position: fixed;
    left: 0;
    top: 0;
  }
}
* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap { width: 82%; margin: 0 auto; padding-left: 5px; padding-right: 5px; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#email textarea { border: solid; font: 14px }
a.delete_file.red-btn {
    padding: 4px 9px;
}
#header { height: 30px; width: 100%; margin: 0px 0 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden;     font-size: 52px;
    color: #bbb; }
/*#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }*/
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#vendor-title { font-size: 20px; font-weight: bold; float: left; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; /*background: #eee;*/ }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; /*border: 1px solid black; */}
#items th { background: #eee; text-align: center; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

.dark { background: #eee;}


#terms { text-align: center; margin: 20px 0 0 0; width: 475px; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; font-weight: bold; text-align: left; }
#terms textarea { width: 100%; }

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#f8f8f8; }
.butt { cursor: pointer; }
.button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;   
}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold;  border: 1px solid;     
       padding: 6px 9px;
    top: 54%;
    right: -33px; font-family: Verdana; font-size: 12px;
    text-decoration: none; }



.loader {
    position: absolute;
    left: 43%;
    top: 16%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 10px solid rgba(0, 43, 239, 0.15);
    border-right: 10px solid rgba(0, 26, 239, 0.12);
    border-bottom: 10px solid rgba(0, 32, 250, 0.19);
    border-top: 10px solid #001df6;
    border-radius: 100%;
    z-index: 99999999999999999;
}
.o_popup {
   
    display: none;
        position: fixed;
    top: 35%;
    z-index: 999999999999999999999;
    left: 36%;
    background-color: white;
    border: 1px solid #777;
    width: 400px;
    padding: 10px 12px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.3);
}

.o_popup_header {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 28px;
    padding-bottom: 8px;
}
.o_popup_content {
    padding-bottom: 21px;
    border-bottom: 1px solid #ccc;
}
.o_popup label {
    font-size: 14px;
    font-weight: normal;
}
input#new_folder_name {
    border-radius: 7px;
    border: 1px solid #888;
    padding: 6px;
    margin-left: 27px;
    font-size: 16px;
}

input.o_popup_btn.btn.navbar-btn.blue-btn {
    display: block;
    margin-top: 30px;
    float: right;
}




.block_screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 999;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


.blue-btn{
  background: rgba(52,86,199,1) !important;
background: -moz-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,86,199,1)), color-stop(54%, rgba(39,80,194,1)), color-stop(100%, rgba(99,99,199,1))) !important;
background: -webkit-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -o-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: linear-gradient(to bottom, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3456c7', endColorstr='#6363c7', GradientType=0 ) !important;
  box-shadow:1px 4px 5px rgba(0,0,0,0.07) !important;
  color: white !important;
  min-width: 100px;
}

.blue-btn:hover{
  box-shadow:2px 5px 5px rgba(0,0,0,0.2) !important;
}
.green-btn{
  background: rgba(106,184,43,1) !important;
background: -moz-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,184,43,1)), color-stop(47%, rgba(84,140,38,1)), color-stop(100%, rgba(74,133,19,1))) !important;
background: -webkit-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -o-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: linear-gradient(to bottom, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab82b', endColorstr='#4a8513', GradientType=0 ) !important;
box-shadow:1px 4px 5px rgba(0,0,0,0.07) !important;
  color: white !important;
  min-width: 100px;
}

.green-btn:hover{
  box-shadow:2px 5px 5px rgba(0,0,0,0.2) !important;
}

tr.item-row {
    border-bottom: 1px solid #000;
    text-align: center;
        border-left: 1px solid #000;
}

.item-row td:last-child {
    border-right: 1px solid #000 !important;
}

.red-btn{
  background: rgba(245,5,65,1) !important;
  background: -moz-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,5,65,1)), color-stop(44%, rgba(189,2,46,1)), color-stop(100%, rgba(125,4,32,1))) !important;
  background: -webkit-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -ms-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: linear-gradient(to bottom, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50541', endColorstr='#7d0420', GradientType=0 ) !important;
      color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


.red-btn:hover{
  text-decoration: none !important;
  color: white !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.item-row textarea {
    height: 40px !important;
    border: 1px solid #555;
    text-align: center;
    outline: none;
    border-radius: 7px;
}


.total-value textarea{
      border: 1px solid #555;
    outline: none;
    border-radius: 6px;
    padding: 0px 3px;
    overflow-y: hidden;
    text-align: left;
}

pre{
  background-color: transparent !important;
  border: none !important;

}

#meta td.meta-head{
  font-weight: bold;
  float: right;
}
#meta td{
  border: none !important;
}

#meta textarea {
    height: 40px !important;
    border: 1px solid #555;
    text-align: center;
    outline: none;
    width: 100px;
    border-radius: 7px;
    width: 129px !important;
    height: 35px !important;
    text-align: center !important;
    overflow: hidden;
}

.due{
  text-align: center;
      display: inline;
}

input#datepicker {
    border: 1px solid #555;
    border-radius: 6px;
    height: 32px;
    width: 131px;
    text-align: center;
}

div#note {
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.invoice_table {
    position: relative;
}

textarea#note_edit {
    border: 1px solid #555;
    padding: 2px;
    width: 380px;
    height: 140px;
}

.setting_screen{
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 6px;
}
span.setting_heading {
    display: block;
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: bold;
    color: #777;
}
.setting_text {
    border: 1px solid #555;
    border-radius: 5px;
    margin-left: 15px;
    width: 340px;
    height: 145px;
    padding: 2px;
    margin-bottom: 35px;
}